body{
    background: #F2F2F2; /*F2F2F2 fondo */
    margin: 0;
    display: flex;

}
/* Botones generales */
.contenedor{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 80px;
    margin: 0%;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;

  }
  .btn img{
    width: 50px;
    max-width: 100%;
    height: auto;
  } 
  .card { /* Ventana Cliente actual */
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: end;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 40%;
    top: 40%;
    width: 15%;
    height: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8%;
    z-index: 1;
   }
   

  
