body{
    background: #F2F2F2; /*F2F2F2 fondo */
    margin: 0;
    display: flex;

}
/* Botones generales */
.contenedor{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 80px;
    margin: 0%;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;

  }
  .btn img{
    width: 50px;
    max-width: 100%;
    height: auto;
  } 
  .card { /* Ventana Cliente actual */
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: end;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 40%;
    top: 40%;
    width: 15%;
    height: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8%;
    z-index: 1;
   }
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .window {
      width: 80%;
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background-color: #f0f0f0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      overflow: auto;
  }

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }

  button {
      display: block;
      margin-top: 20px;
      padding: 10px;
      background-color: #d4d0d0;
      color: black;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
   

  
