body{
    background: #F2F2F2; /*F2F2F2 fondo */
    margin: 0;
    display: flex;

}
/* Botones generales */
.contenedor{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 80px;
    margin: 0%;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;

  }
  .btn img{
    width: 50px;
    max-width: 100%;
    height: auto;
  } 
  .Titulo{
    position: absolute;
    left: 50%;
    top: 10%;
  }

  /*Input de genero*/
  /*Input de genero*/
  /*Input de genero*/
  .clienteImg {
    display: flex;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 28%;
  }
  .mujerImg{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50.5%;
    top: 42%;
  }
  .hombreImg{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 54.8%;
    top: 42%;
  }
  .ninoImg{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 59.2%;
    top: 42%;
  }

  
  .generoInput div {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 35%;
  }
  
  .generoInput input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
  
  .generoInput input[type="radio"]:checked + span {
    background-color: #7c7c7c;
    z-index: 5;
    color: black;
  }
  
  label span {
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: end;
    display: flex;
    cursor: pointer;
    background-color: #F2F2F2;
    padding: 0.375em .75em;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #7c7c7c;
    letter-spacing: .07em;
    color: black;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  /*Input de servicio extra */
  /*Input de servicio extra */
  /*Input de servicio extra */

  .inputCobro { /*Input de cobro */
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 50%;
    text-align: justify;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    left: 49%;
    top: 65%;
    max-width: 16%;
  }
  
  .inputCobro label.text { 
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: end;
    font-weight: 900; 
    color: black;
    position: relative;
    margin: 2 3 4 27%;
    padding: 0 3px;
    background: #F2F2F2;
    width: fit-content;
  }
  
  .inputCobro input[type=text].input {
    padding: 5% 4%;
    font-size: 0.90rem;
    border: 10% #7c7c7c;
    border-radius: 2%;
    background: white;
  }

  /*Input de menu de cortes */
  /*Input de menu de cortes */

  .menu select { /*Input de menu de cortes */
    font-size: 20px;
    width: 300px;
    height: 50px;
    position: relative;
    left: 85%;
    top: 52%;
    background: white;
    font-family: 'Segoe UI'
   } 
   .menu label.text { 
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    font-weight: 900; 
    color: black;
    position: relative;
    left: 80%;
    top: 52%;
    margin: 2 3 4 25%;
    padding: 0 3px;
    background: #F2F2F2;
  }
  .menu input[type=text].input {
    padding: 5% 4%;
    font-size: 0.90rem;
    border: 10% #7c7c7c;
    border-radius: 2%;
    background: white;
  }
   /*BOTON SIGUIENTE Y GUARDAR */
    /*BOTON SIGUIENTE Y GUARDAR */
    /*BOTON SIGUIENTE Y GUARDAR */
    
  .botonSiguienteGuardar{
    display: flex;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 28%;
  }
  .botonSiguiente{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 65%;
    top: 80%;
  }
  .botonGuardar{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 80%;
  }
  .botonSiguiente button{
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  }
  .botonSiguiente button:hover{
  border: 3px solid #7c7c7c;
  }
  .botonSiguiente button:active{
  box-shadow: 4px 4px 12px #7c7c7c,
  -4px -4px 12px #7c7c7c;
  }

  .botonGuardar button{
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  }

  .botonGuardar button:hover{
  border: 3px solid #7c7c7c;
  }
  .botonGuardar button:active{
  box-shadow: 4px 4px 12px #7c7c7c,
  -4px -4px 12px #7c7c7c;
  }
