USE [master]
GO
/****** Object:  Database [haar]    Script Date: 24/03/2024 09:11:26 p. m. ******/
CREATE DATABASE [haar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'haar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\haar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'haar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\haar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [haar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [haar]
GO
/****** Object:  User [usersql]    Script Date: 24/03/2024 09:11:27 p. m. ******/
CREATE USER [usersql] FOR LOGIN [usersql] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usersql]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [usersql]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [usersql]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [usersql]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [usersql]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usersql]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usersql]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [usersql]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [usersql]
GO
/****** Object:  Table [dbo].[citas]    Script Date: 24/03/2024 09:11:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[numero_cita] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[hora_cita] [time](7) NULL,
	[dia_cita] [date] NULL,
	[servicio] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 24/03/2024 09:11:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(100,1) NOT NULL,
	[nombre_cliente] [varchar](50) NULL,
	[apellido_cliente] [varchar](50) NULL,
	[numero_telefono] [varchar](15) NULL,
	[numero_citas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_citas]    Script Date: 24/03/2024 09:11:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_citas](
	[id_cliente] [int] NULL,
	[numero_cita] [int] NULL,
	[ticket] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cobro]    Script Date: 24/03/2024 09:11:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[registro_pdf] [varbinary](max) NULL,
	[nombre_archivo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cobros]    Script Date: 24/03/2024 09:11:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](100) NULL,
	[FechaCobro] [datetime] NULL,
	[TipoCorte] [nvarchar](50) NULL,
	[ServicioExtra] [nvarchar](3) NULL,
	[MontoAdicional] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[IVA] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[citas] ([numero_cita], [id_cliente], [hora_cita], [dia_cita], [servicio]) VALUES (1, 108, CAST(N'07:00:00' AS Time), CAST(N'2024-01-30' AS Date), N'CORTE SENCILLO ')
INSERT [dbo].[citas] ([numero_cita], [id_cliente], [hora_cita], [dia_cita], [servicio]) VALUES (2, 109, CAST(N'12:30:00' AS Time), CAST(N'2024-02-19' AS Date), N'SERVICIO SENCILLO PORFAVOR')
INSERT [dbo].[citas] ([numero_cita], [id_cliente], [hora_cita], [dia_cita], [servicio]) VALUES (3, 110, CAST(N'11:30:00' AS Time), CAST(N'2024-02-19' AS Date), N'CORTE DE PELO')
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [apellido_cliente], [numero_telefono], [numero_citas]) VALUES (108, N'JOSE ROBERTO EL GUAPO', N'LEYVA ROMERO', N'6677409827', NULL)
INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [apellido_cliente], [numero_telefono], [numero_citas]) VALUES (109, N'FABIAN ', N'BALDENEGRO TORRES', N'6674918679', NULL)
INSERT [dbo].[clientes] ([id_cliente], [nombre_cliente], [apellido_cliente], [numero_telefono], [numero_citas]) VALUES (110, N'ALEJANDRO', N'COVARRUBIAS FLORES', N'6679020345', NULL)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[cobro] ON 

SET IDENTITY_INSERT [dbo].[cobro] OFF
GO
SET IDENTITY_INSERT [dbo].[Cobros] ON 

INSERT [dbo].[Cobros] ([Id], [Cliente], [FechaCobro], [TipoCorte], [ServicioExtra], [MontoAdicional], [Subtotal], [IVA], [Total]) VALUES (1, N'FABIAN BALDENEGRO', CAST(N'2024-02-19T00:30:40.057' AS DateTime), N'Corte sencillo', N'Sí', CAST(90.00 AS Decimal(10, 2)), CAST(137.93 AS Decimal(10, 2)), CAST(22.07 AS Decimal(10, 2)), CAST(160.00 AS Decimal(10, 2)))
INSERT [dbo].[Cobros] ([Id], [Cliente], [FechaCobro], [TipoCorte], [ServicioExtra], [MontoAdicional], [Subtotal], [IVA], [Total]) VALUES (2, N'JOSE ROBERTO EL GUAPO LEYVA ROMERO', CAST(N'2024-02-19T00:37:24.033' AS DateTime), N'Especial', N'Sí', CAST(50.00 AS Decimal(10, 2)), CAST(146.55 AS Decimal(10, 2)), CAST(23.45 AS Decimal(10, 2)), CAST(170.00 AS Decimal(10, 2)))
INSERT [dbo].[Cobros] ([Id], [Cliente], [FechaCobro], [TipoCorte], [ServicioExtra], [MontoAdicional], [Subtotal], [IVA], [Total]) VALUES (6, N'FABIAN  BALDENEGRO TORRES', CAST(N'2024-03-05T02:10:41.907' AS DateTime), N'Normal', N'Sí', CAST(100.00 AS Decimal(10, 2)), CAST(168.10 AS Decimal(10, 2)), CAST(26.90 AS Decimal(10, 2)), CAST(195.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cobros] OFF
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [fk__id_client__3b75d760] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [fk__id_client__3b75d760]
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([numero_cita])
REFERENCES [dbo].[citas] ([numero_cita])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([numero_cita])
REFERENCES [dbo].[citas] ([numero_cita])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([numero_cita])
REFERENCES [dbo].[citas] ([numero_cita])
GO
ALTER TABLE [dbo].[clientes_citas]  WITH CHECK ADD FOREIGN KEY([numero_cita])
REFERENCES [dbo].[citas] ([numero_cita])
GO
USE [master]
GO
