body{
    background: #F2F2F2; /*F2F2F2 fondo */
    margin: 0;
    display: flex;

}
/* Botones generales */
.contenedor{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 80px;
    margin: 0%;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;

  }
  .btn img{
    width: 50px;
    max-width: 100%;
    height: auto;
  } 
  .card { /* Ventana Cliente actual */
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: end;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 40%;
    top: 40%;
    width: 15%;
    height: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8%;
    z-index: 1;
   }
   .Titulo{
    position: absolute;
    left: 53%;
    top: 10%;
  }




  .NuevaCita_Actual{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 37%;
    top: 10%;
  }
  .NuevaCita_Nombre{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: relative;
    left: -5%;
    top: 35%
  }
  .NuevaCita_Hora{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 35%;
    top: 48%;
  }
  .NuevaCita_Tcorte{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 25%;
    top: 60%;
  }
  
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: flex;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: gray;
   }
   
   .yellow {
    background-color: gray;
   }
   
   .green {
    background-color: gray;
   }

   .card2 { /* Ventana Cliente actual */
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 65%;
    top: 40%;
    width: 15%;
    height: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8%;
    z-index: 1;
   }
   .NuevaCita_Actual{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 37%;
    top: 10%;
  }
  .NuevaCita_Nombre{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: relative;
    left: 0%;
    top: 35%
  }
  .NuevaCita_Hora{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 35%;
    top: 48%;
  }
  .NuevaCita_Tcorte{
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: 125%;
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    position: absolute; 
    left: 25%;
    top: 60%;
  }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: flex;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color:gray;
   }
   
   .yellow {
    background-color: gray;
   }
   
   .green {
    background-color: gray;
   }






