body{
    background: #F2F2F2; /*F2F2F2 fondo */
    margin: 0;
    display: flex;

}
/* Botones generales */
.contenedor{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: left;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    font-family: 'Segoe UI'; /*Segoe ui font */
    font-size: medium;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 80px;
    margin: 0%;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;

  }
  .btn img{
    width: 50px;
    max-width: 100%;
    height: auto;
  }
  /*agenda de cita*/
  .contenedor2{
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 300px;
  border-width: 5px;
  border-style: solid;
  align-items: center;
  }
  .citas{
    background-color: white;
  }
  /*botonesGuardarycerrar*/
  /*botonesGuardarycerrar*/
 /*botonesGuardarycerrar*/
  .botonSiguienteGuardar{
    display: flex;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 28%;
  }
  .botonSiguiente{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 65%;
    top: 80%;
  }
  .botonGuardar{
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 80%;
  }
  .botonSiguiente button{
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  }
  .botonSiguiente button:hover{
  border: 3px solid #7c7c7c;
  }
  .botonSiguiente button:active{
  box-shadow: 4px 4px 12px #7c7c7c,
  -4px -4px 12px #7c7c7c;
  }

  .botonGuardar button{
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  }

  .botonGuardar button:hover{
  border: 3px solid #7c7c7c;
  }
  .botonGuardar button:active{
  box-shadow: 4px 4px 12px #7c7c7c,
  -4px -4px 12px #7c7c7c;
  }

  
  